<%= render :partial => 'home/participating_stores_header'%>

<%= render :partial => 'home/participating_stores_tabs'%>


<div id="myneighbourhood_content" >
    <%= render :partial => 'home/myneighbourhood'  %>

</div>


 <div id="search_content" >
     <%=   render    :partial => 'home/searchtabsform'  %>
 </div>


