<%# render header and tabs component %>
<%=render :partial => 'home/participating_stores_header'%>

<%=render :partial => 'home/participating_stores_tabs'%>

<%# render content of tab "All store" %>
<div id="tabs_content">
   <%= render :partial => 'home/allstores'  %>
</div>






      